app/model/*.zip filter=lfs diff=lfs merge=lfs -text
app/model/**/*.onnx filter=lfs diff=lfs merge=lfs -text
app/libs/*.aar filter=lfs diff=lfs merge=lfs -text
app/libs/*.jar filter=lfs diff=lfs merge=lfs -text
app/prebuilts/*.apk filter=lfs diff=lfs merge=lfs -text
provenance/sources/*.tar.gz filter=lfs diff=lfs merge=lfs -text
provenance/sources/kotlin-stdlib-*-sources.jar filter=lfs diff=lfs merge=lfs -text
